<main class='row'>
 {{log this}}
  <div class='col-2' id='game-data'>

    <a href="/games/post/newpost"><button type="button" class="btn btn-primary" id="create-post-button">🪶 Post a Comment 🪶</button></a>

    <div id='game-stats'>
      <h2>About the Game</h2>
      <p>Genre: </p>
      <p>Release Date: </p>
      <p>Developer: </p>
      <p>Tags: </p>
    </div>


    <div id='related-games'>
      <h2>Similar Titles</h2>
      <ul>
        <li>DOTA</li>
        <li>League of Legends</li>
        <li>EverQuest</li>
        <li>Runescape</li>
      </ul>
    </div>

  </div>


  <div class='col-9 forum-section'>
    <h2>User Posts About Final Fantasy XIV</h2>

{{#each forum as |post| }}
    <div class='forum-post'>
      <a href="/games/post/{{post.id}}"><h4>{{post.title}}</h4></a>
      <p>Posted on {{post.created_at}} by {{user.name}}</p>
    </div>
{{/each}}    

  </div>
</main>