<main class='row'>
{{log this}}
  <div class='col-2' id='post-stats'>
    <h2>This Post</h2>
    <div class=id='post-data'>
      <p>Created By: {{user.name}} </p>
      <p>Created On: {{created_at}} </p>
      <p>Topic: {{Game.title}} </p>
    </div>
  </div>

  <div class='col-9 post-section'>
    <h2>{{title}}</h2>
    <div id='post-display'>
      <p>{{body}}</p>
    </div>
    <div id='comments-section'>
      <p class='comment-block'><span style="font-weight: 700">{{user.name}} Wrote: </span> {{comment.body}}</p>
      <p class='comment-block'><span style="font-weight: 700">{{user.name}} Wrote:</span> {{comment.body}}</p>
      <p class='comment-block'><span style="font-weight: 700">{{user.name}} Wrote:</span> {{comment.body}}</p>
    </div>

    <div class="form-group" id='comment-form'>
      <label for="exampleFormControlTextarea1">Leave a Comment!</label>
      <textarea class="form-control" id="new-comment-entry-field" rows="3"></textarea>
      <button type="button" class="btn btn-secondary btn-sm" id="create-comment-button"
        style="width: 200px; text-align: center; margin: 5px">Post Your Comment</button>
    </div>

  </div>
</main>